/* General container styling */
.predict-batsman-container {
  padding: 16px;
}

/* Heading styles */
.predict-batsman-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  color: #333;
}

/* Table styles */
.predict-batsman-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #d1d5db;
  margin-bottom: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table header */
.predict-batsman-table thead {
  background-color: #e5e7eb;
}

.predict-batsman-table th,
.predict-batsman-table td {
  border: 1px solid #d1d5db;
  padding: 12px;
  text-align: center;
  font-size: 1rem;
}

/* Alternating row colors for better readability */
.predict-batsman-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.predict-batsman-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Hover effect for rows */
.predict-batsman-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.07);
  transition: background 0.3s ease-in-out;
}

/* Conditional styling for Buy Success % */
.buy-success {
  font-weight: bold;
  color: gray;
}

.buy-success.high {
  color: green;
  font-size: 1.1rem;
}

/* Conditional styling for Sell Accuracy % */
.sell-accuracy {
  font-weight: bold;
  color: gray;
}

.sell-accuracy.high {
  color: red;
  font-size: 1.1rem;
}

/* Team-Specific Colors */
.team1 {
  border: 3px solid #0056b3;
  background: rgba(0, 86, 179, 0.1);
}

.team2 {
  border: 3px solid #b32d00;
  background: rgba(179, 45, 0, 0.1);
}
/* Highlighting the best BUY player with a semi-transparent green gradient */
.best-buy {
  background: linear-gradient(
    90deg,
    rgba(50, 205, 50, 0.8),
    rgba(0, 255, 0, 0.8)
  ); /* Adjusted opacity */
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0px 4px 6px rgba(50, 205, 50, 0.3);
  transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.9; /* Overall row opacity */
}

.best-buy:hover {
  transform: scale(1.05);
  opacity: 1; /* Full opacity on hover */
}

/* Highlighting the best SELL player with a semi-transparent red-orange gradient */
.best-sell {
  background: linear-gradient(
    90deg,
    rgb(255, 0, 0),
    rgba(255, 99, 71, 0.8)
  ); /* Adjusted opacity */
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0px 4px 6px rgba(255, 69, 0, 0.3);
  transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.9; /* Overall row opacity */
}

.best-sell:hover {
  transform: scale(1.05);
  opacity: 1; /* Full opacity on hover */
}
